.grid {
    display: grid;
    grid-template-columns: 25px 50px 75px 45px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header header header"
        "sidebar main main main"
        "footer footer footer footer";
}

span {

    height: 100px;
    width: 100px;
    background-color: bisque;
    color: brown;
}